html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/background-image.jpg");

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
}

ul{
    list-style: none;
}

.container{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    height: 100%;
    width: 100%;
}

.window-area{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    border-top: 1px solid darkgray;
    top: 0;
    bottom: 0;
    left: 0px;
    box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42);
}

.chat-area{
    display: flex;
    flex-direction: column;

    flex-basis: 80%;

}

.title, .chat-list, .input-area, .left-tabs{
    border: 1px solid darkgray;
    border-radius: 6px;
}

.title, .input-area{
    background-color: rgb(64, 59, 59);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;

    height: 20%;
    min-height: 30px;
}

.error{

    color: #D6001B;
}

.chat-list, .left-tabs{
    background-color: #6b6b6b;
}

.chat-list{
    display: flex;
    flex-basis: 70%;
    height: 60%;
    flex-grow: 6;
    left: 0;
    top: 35px;
    right: 0;
    bottom: 44px;

}

.chat-list ul{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    overflow-y: scroll;
    vertical-align: baseline;
    outline: none;
    list-style: none;

}

.chat-list ul > li{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-basis: 30%;
    height: 30%;
    border-bottom: 1px solid rgb(82, 77, 77);
    border-radius: 2px;
    overflow: hidden;
    min-height: 40px;
}

.chat-list ul .name{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    padding: 2%;

}

.chat-list ul .name span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-list ul .message{
    display: flex;
    flex-basis: 60%;
    justify-content: flex-start;
    padding: 2%;
    font-size: 11px;
    border-left: 1px solid rgb(82, 77, 77);
    float: left;
    border-radius: 2px;
}

.input-area{
    display: flex;
    flex-direction: column;
    height: 60px;
    min-height: 60px;
    flex-basis: 20%;
    padding-left: 1%;
    padding-right: 1%;
    left: 0;
    right: 0;
    bottom: 0;
}

.input-text{
    height:30%;
}

.input{
    display: flex;
    flex-direction: row;
    height: 70%;
}

.input-wrapper{
    display: flex;
    width: 85%;
    border: 1px solid #cfdae1;
    border-radius: 5px;
    margin-right: 1%;
}

.input-wrapper input{

    margin: 0;
    width: 100%;
    border: 1px solid #cfdae1;
    border-radius: 3px;
    color: #5D7185;
    width: 100%;
}

.input-area input[type="button"]{
    display: flex;
    width: 15%;
    padding: 0;
    justify-content: center;

}

.add-button{
    background: #83949e;
    border: none;
    color: #fff;
    border-radius: 5px;
    float:right;
    cursor: pointer;
    font-size: 15px;
    font-family: Corbel, Georgia, "Malgun Gothic";
    outline: none;
}

.left-tabs{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.left-tabs h2{
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgb(82, 77, 77);
}

ul.tabs-container{
    padding: 10px;

}

.left-tabs ul > li.me-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-tabs ul > li.me-list span{
    display: flex;
    flex-basis: 80%;

}

.member-list > li{
    padding: 5px 0;
}

.delete-and-edit{
    display: flex;
    justify-content: flex-end;
}

.me .delete-and-edit{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}



.delete-button, .edit-button{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: center;
    padding-right: 5px;
}

.editUserName{
    color: indigo;
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.text-welcome{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.footer{
    display: flex;
    width: 100%;
    height: 50px;
    color: burlywood;
    font-size: 15px;

    font-family: Arial, fantasy;
    justify-content: center;
    padding: 10px;
}

.footer p{
    padding-top: 5px;
}

.container{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    color: gainsboro;

}

@media only screen  {
    .window-wrapper{
        display: flex;
        justify-content: center;
        flex-basis: 80%;

        border-radius: 6px;
        margin: 0;
    }

    .container{
        padding: 0;
    }
}
